= form_for @author, html:{'ng-controller' => 'FormController', 'ng-submit' => 'submitForm()' } do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, 'ng-model' => 'name'
    %span{'ng-bind' => 'name'}
  .field
    = f.label :email
    = f.text_field :email, 'ng-model' => 'email'
    %span{'ng-bind' => 'email'}
  .actions
    = f.submit 'Save', 'pe-submit' => true
