%h3
  Author
%p#notice= notice

%p
  %b Name:
  = @author.name
%p
  %b Email:
  = @author.email

%h2
  Articles by #{@author.name}
%table
  %tr
    %th Name
    %th Email

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.description

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
