#articles{'ng-controller' => 'ArticlesController'}
  = f.fields_for :articles do |a|
    .div{'ng-repeat' => 'article in articles'}
      .field
        = a.label :title
        = a.text_field :title, 'ng-model' => 'title'
      .field
        = a.label :description
        = a.text_area :description, 'ng-model' => 'description'
      .actions
        = f.submit 'Remove Article', 'pe-remove-article' => true, 'ng-click' => 'removeArticle($index)'
  .actions
    = f.submit 'Add Article', 'pe-add-article' => true

