#articles{'ng-controller' => 'ArticlesController'}
  - @index = 0
  = f.fields_for :articles do |a|
    .div{'ng-repeat' => 'article in articles'}
      .field
        = a.label :title
        = a.text_field :title, 'ng-model' => 'article.title'
      .field
        = a.label :description
        = a.text_area :description, 'ng-model' => 'article.description'
      .actions
        = f.submit 'Remove Article', 'pe-remove-article' => true, 'ng-click' => 'removeArticle($index)', name:"remove_article[#{@index}]"
        - @index += 1
  .actions
    = f.submit 'Add Article', 'pe-add-article' => true, name:'add_article'

